* text=auto eol=lf

.gitattributes export-ignore
.github/ export-ignore
.gitignore export-ignore
CHANGELOG.md export-ignore
docs/ export-ignore
example/ export-ignore
LICENSE export-ignore
phpunit.xml.dist export-ignore
README.md export-ignore
testing_migrations/ export-ignore
tests/ export-ignore
