parameters:
    earlyTerminatingMethodCalls:
        Phoenix\Database\Adapter\PdoAdapter:
            - throwError

    ignoreErrors:
        -
            message: '#^Instanceof between Phoenix\\Database\\Element\\Column and Phoenix\\Database\\Element\\Column will always evaluate to true\.$#'
            path: src/Database/Element/Behavior/PrimaryColumnsBehavior.php
