name: PHP code sniffer

on:
  push:
    branches:
      - master
  pull_request: null

jobs:
  codesniffer:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: [ '8.4' ]

    name: PHP ${{ matrix.php }} code sniffer

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none # disable xdebug, pcov

      - name: Composer update
        run: composer update --no-progress --no-interaction

      - name: Install PHP code sniffer as dev dependency
        run: composer require squizlabs/php_codesniffer --dev

      - name: Code sniffer
        run: vendor/bin/phpcs src --standard=PSR2 -n
