name: PHP extensions finder

on:
  push:
    branches:
      - master
  pull_request: null

jobs:
  extensions_finder:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: [ '8.4', '8.5' ]

    name: PHP ${{ matrix.php }} extensions finder

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none # disable xdebug, pcov

      - name: Composer update
        run: composer update --no-progress --no-interaction

      - name: Install PHP extensions finder as dev dependency
        run: composer require efabrica/php-extensions-finder --dev -W

      - name: PHP extensions finder
        run: vendor/bin/php-extensions-finder check src tests
