name: PHPunit

on: [push]

jobs:
  phpunit:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: [ '7.1' ] # '7.2', '7.3', '7.4', '8.0' ]

    name: PHPunit PHP ${{ matrix.php }}

    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_DATABASE: phoenix
          MYSQL_ROOT_PASSWORD: 123
        ports:
          - 3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: 123
        options: --health-cmd="pg_isready" --health-interval=10s --health-timeout=5s --health-retries=5
        ports:
          - 5432

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Composer update
        run: composer update --no-progress --no-suggest

      - name: Check DB
        run: mysql -uroot -h127.0.0.1 -P${{ job.services.mysql.ports[3306] }} -p123 -e 'CREATE TABLE `test` (`id` int NOT NULL AUTO_INCREMENT PRIMARY KEY);' -e 'SHOW TABLES;'

#      - name: Create mysql database
#        run: mysql -uroot -h127.0.0.1 -P${{ job.services.mysql.ports[3306] }} -p123 -e 'CREATE DATABASE IF NOT EXISTS phoenix;'

      - name: PHPunit
        run: vendor/bin/phpunit --coverage-text --coverage-clover=coverage.clover
        env:
          PHOENIX_MYSQL_HOST: 127.0.0.1
          PHOENIX_MYSQL_PORT: ${{ job.services.mysql.ports[3306] }}
          PHOENIX_MYSQL_PASSWORD: 123
          PHOENIX_MYSQL_DATABASE: phoenix
          PHOENIX_PGSQL_PORT: ${{ job.services.postgres.ports[5432] }}
          PHOENIX_PGSQL_PASSWORD: 123
