name: PHP syntax checker

on:
  push:
    branches:
      - master
  pull_request: null

jobs:
  syntax_checker:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: [ '8.4' ]

    name: PHP syntax checker - PHP ${{ matrix.php }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none # disable xdebug, pcov

      - name: Check syntax
        run: find src bin tests -name "*.php" -print0 | xargs -0 -n1 -P8 php -l
